
.Rproj.user/D7D1A736/build_options

*.pper

.Rproj.user/D7D1A736/saved_source_markers

.Rproj.user/D7D1A736/persistent-state

.Rproj.user/D7D1A736/sdb/prop/INDEX

.Rproj.user/D7D1A736/sdb/prop/2490B85A

.Rproj.user/D7D1A736/sdb/s-380FB34E/243B4999

.Rproj.user/D7D1A736/sdb/s-380FB34E/64DEA359

.Rproj.user/D7D1A736/sdb/s-380FB34E/899764C5

.Rproj.user/D7D1A736/sdb/s-380FB34E/lock_file
